$color-000: #000;
$color-333: #333;
$color-666: #666;
$color-999: #999;
$color-white: #fff;
$color-red: #f56982;
$color-f1f3f8: #F1F3F8;
$color-dcdcdc: #dcdcdc;
$color-e9ecf2: #e9ecf2;
$color-728fb9: #728fb9;
$color-6091fa: #6091fa;
$color-86cf53: #86cf53;
$color-e0e0e0: #e0e0e0;
$color-848484: #848484;

// 颜色定义规范
$color-name: #2E2D2D;
$color-price-unit:#363636;
$color-price:#FF0000;

$color-title-bc:#F5F8FC;
$color-title-before:#FF0000;

//字体定义规范
$yahei: '\5FAE\8F6F\96C5\9ED1';
$arial: 'arial';
$SC-Bold :'PingFang-SC-Bold';
$SC-Medium : 'PingFang-SC-Medium';
$SC-Semibold :'PingFang-SC-Semibold';



$font-size-small-s : 10px;
$font-size-small : 12px;
$font-size-medium : 14px;
$font-size-medium-x : 16px;
$font-size-large : 18px;
$font-size-large-x : 22px;